.subpagespointcard-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1rem;
}

.subpagespointcard-uppersection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.subpagespointcard-heading {
  font-size: 1.4rem;
  font-weight: 200;
}

.subpagespointcard-description {
  font-size: 0.9rem;
  font-weight: 200;
}

.subpagespointcard-bullet {
  width: 7%;
  height: auto;
}
