.careerpage-content-container {
  width: 100%;
  /* height: 100vh; */
  background-image: url("../../../../../../public/about_page_background_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 4rem;
}
