.careerpage-content-container {
  width: 100%;
  /* height: 100vh; */
  background-image: url("../../../../../../public/about_background_image_1024plus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding: 4rem;
}
