.aboutpagecontent-container {
  width: 100%;
  /* height: 100vh; */
  background-image: url("../../../../../../public/about_page_background_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4rem;
}

.aboutpagecontaent-logo-introsection {
  display: flex;
  flex-direction: row;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 1rem;
}

.right-intro-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-left: 6rem;
}

/* .fgk-logo-about {
  width: 400px;
  height: auto;
} */

.right-heading-section {
  font-size: 42px;
}

.right-description-section {
  font-size: 18px;
}

.aboutpagecontent-middle-section {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.first-para {
  font-size: 18px;
  margin-bottom: 2rem;
}

.second-para {
  font-size: 18px;
}

.aboutpagecontent-last-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.last-para {
  font-size: 18px;
}

.aboutpage-grid-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.left-grid-image-section {
  width: 500px;
  height: 350px;
  background-color: aqua;
  margin: 1rem;
}

.right-grid-image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-right-top-section {
  width: 250px;
  height: 175px;
  background-color: red;
  /* margin: 1rem; */
}

.grid-right-bottom-section {
  width: 250px;
  height: 175px;
  background-color: greenyellow;
}
