.thirdprocesssection-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 12rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thirdprocesssection-sections-container {
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thirdprocesssection-leftsection-text-container {
  margin-left: 2rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  gap: 2rem;
  border-left: 3px solid #59c3c3;
  padding-left: 1rem;
  /* background-color: red; */
}

.thirdprocesssection-leftsection-text-heading {
  font-size: 4rem;
  font-weight: 100;
}

.thirdprocesssection-leftsection-text-description {
  font-size: 1rem;
  font-weight: 200;
}

.thirdprocesssection-bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 6rem;
  /* gap: 2rem; */
}

.thirdprocesssection-leftsection-strips-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.thirdprocesssection-rightsection {
  width: 50%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.thirdprocesssection-leftsection-text-button {
  width: 169px;
  height: 47px;
  border-radius: 8px;
  background-color: #59c3c3;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.thirdprocesssection-bottom-button {
  width: 300px;
  height: 67px;
  border-radius: 8px;
  background-color: #59c3c3;
  color: white;
  font-weight: 600;
  font-size: 22px;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
