.progmag-grid-container {
  width: 100%;
  /* height: 100vh; */
  background-image: url("../../../../../../public/progmag_grid_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  padding-top: 12rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.progmag-text-container {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 1.2rem;
  border-left: 4px solid #59c3c3;
}

.progmag-grid-text-heading {
  font-size: 3.8rem;
  font-weight: 200;
}

.progmag-grid-text-description {
  font-size: 1.2rem;
  font-weight: 200;
}

.progmag-grid-text-button {
  width: 169px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  background-color: #59c3c3;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
}

.progmag-grid-section-container {
  margin-top: 12rem;
  padding-left: 5rem;
  padding-right: 5rem;
  /* display: flex;
  flex-direction: column;
  gap: 2rem; */
}
