.teampageteamcard-container {
  padding-left: 19rem;
  padding-right: 19rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* background: #f7f5f5; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.teampageteamcard-left-image {
  margin: 2rem;
}

.teampageteamcard-rightsection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.teampageteamcard-mobile-image {
  display: none;
}

.rightsection-heading {
  font-size: 52px;
  font-weight: 100;
}

.rightsection-designation {
  font-size: 32px;
  font-weight: 200;
}

.rightsection-description {
  font-size: 16px;
  font-weight: 200;
}

.rightsection-button {
  width: 159px;
  height: 38px;
  background-color: #59c3c3;
  color: white;
  font-weight: 300;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

.teampageteamcard-social-media {
  margin: 0.3rem;
}
