.footer-container {
  position: relative; /* Ensures correct positioning for the overlay */
  background-image: url("/images/website_footer_background.webp"); /* Corrected path */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents image tiling */
  height: 400px; /* Ensures footer has enough height */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #fff; /* White text color for contrast */
  width: 100%; /* Ensures full width */
  padding: 3rem; /* Inner padding */
}

.footer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(89, 195, 195, 0.9); /* Semi-transparent overlay */
  z-index: 1;
}

.footer-content {
  position: relative; /* Ensures content is above the overlay */
  z-index: 2;
}

.footer-uppersection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-upper-subsection-one {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-address {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 60%;
  text-align: left;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.footer-address:hover {
    color:aliceblue;
  }

.footer-upper-subsection-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 250px;
}

.services-listing {
  display: flex;
  flex-direction: column;
}

.footer-upper-subsection-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 220px;
}
.footer-upper-subsection-four {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  height: 270px;
}

.footer-list-main {
  list-style-type: none;
  text-align: left;
}

.footer-list-title {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 37px;
}

.footer-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.footer-list-item:hover {
  color: black;
}

.button-group {
  margin-top: 6rem;
}

.footer-social-icon {
  margin-right: 10px;
}

.footer-line {
  height: 5px;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
}

.rights-container-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer-rights-line {
  color: white;
  text-decoration: none;
}

.footer-rights-line:hover {
  color: black;
  text-decoration: none;
}
/* Default styles (mobile-first approach) */

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .footer-container {
    padding: 1rem;
    height: 990px;
  }

  .footer-uppersection {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-address {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .footer-upper-subsection-two {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .footer-upper-subsection-three {
    width: 100%;
    height: 119px;
    justify-content: center;
  }

  .footer-upper-subsection-four {
    width: 100%;
    height: 269px;
    justify-content: center;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: center;
  }

  .footer-list-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .footer-container {
    padding: 1rem;
    height: 990px;
  }

  .footer-uppersection {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-address {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .footer-upper-subsection-two {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .footer-upper-subsection-three {
    width: 100%;
    height: 119px;
    justify-content: center;
  }

  .footer-upper-subsection-four {
    width: 100%;
    height: 269px;
    justify-content: center;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: center;
  }

  .footer-list-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .footer-container {
    padding: 1rem;
    height: 990px;
  }

  .footer-uppersection {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-address {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .footer-upper-subsection-two {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .footer-upper-subsection-three {
    width: 100%;
    height: 119px;
    justify-content: center;
  }

  .footer-upper-subsection-four {
    width: 100%;
    height: 269px;
    justify-content: center;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: center;
  }

  .footer-list-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .footer-container {
    padding: 1rem;
    height: 990px;
  }

  .footer-uppersection {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-address {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .footer-upper-subsection-two {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .footer-upper-subsection-three {
    width: 100%;
    height: 119px;
    justify-content: center;
  }

  .footer-upper-subsection-four {
    width: 100%;
    height: 269px;
    justify-content: center;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: center;
  }

  .footer-list-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  .footer-container {
    padding: 1rem;
    height: 990px;
  }

  .footer-uppersection {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-address {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .footer-upper-subsection-two {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .footer-upper-subsection-three {
    width: 100%;
    height: 119px;
    justify-content: center;
  }

  .footer-upper-subsection-four {
    width: 100%;
    height: 269px;
    justify-content: center;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: center;
  }

  .footer-list-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  .footer-container {
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 990px;
  }

  .footer-uppersection {
    flex-direction: column;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: center;
  }

  .footer-address {
    width: 100%;
    text-align: center;
    font-size: 12px;
  }

  .footer-upper-subsection-two {
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  .footer-upper-subsection-three {
    width: 100%;
    height: 119px;
    justify-content: center;
  }

  .footer-upper-subsection-four {
    width: 100%;
    height: 269px;
    justify-content: center;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: center;
  }

  .footer-list-title {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button-group {
    margin-top: 1.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .footer-container {
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 410px;
  }

  .footer-uppersection {
    flex-direction: row;
    justify-content: center;
  }

  .footer-logo-container {
    text-align: left;
    width: 20%;
    height: auto;
  }

  .footer-address {
    width: 100%;
    text-align: left;
    font-size: 16px;
  }

  .footer-upper-subsection-two {
    width: 60%;
    height: 120px;
    justify-content: flex-start;
    margin-left: 2rem;
  }

  .footer-upper-subsection-three {
    width: 60%;
    height: 200px;
    justify-content: flex-start;
  }

  .footer-upper-subsection-four {
    width: 60%;
    height: 269px;
    justify-content: flex-start;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: left;
    width: 100%;
  }

  .footer-list-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .button-group {
    margin-top: 7.5rem;
  }

  .rights-container-section {
    text-align: center;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .footer-uppersection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-upper-subsection-one {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-address {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 65%;
    text-align: left;
    color: black;
    font-weight: 500;
  }

  .footer-upper-subsection-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 250px;
  }

  .services-listing {
    display: flex;
    flex-direction: column;
  }

  .footer-upper-subsection-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 220px;
  }
  .footer-upper-subsection-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 270px;
  }

  .footer-list-main {
    list-style-type: none;
    text-align: left;
  }

  .footer-list-title {
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin-bottom: 37px;
  }

  .footer-list-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer-list-item:hover {
    color: black;
  }

  .button-group {
    margin-top: 6rem;
  }

  .footer-social-icon {
    margin-right: 10px;
  }

  .footer-line {
    height: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
  }

  .rights-container-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .footer-rights-line {
    color: white;
    text-decoration: none;
  }

  .footer-rights-line:hover {
    color: black;
    text-decoration: none;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
}

/* Iphone SE */
@media (width: 375px) and (height: 667px) {
}

/* Iphone XR */
@media (width: 414px) and (height: 896px) {
}

/* Iphone 12 Pro */
@media (width: 390px) and (height: 844px) {
}

/* Iphone 14 Pro Max */
@media (width: 430px) and (height: 932px) {
}

/* Pixel 7 */
@media (width: 412px) and (height: 915px) {
}

/* Samsung Galaxy S8+ */
@media (width: 360px) and (height: 740px) {
}

/* Samsung Galaxy S20 Ultra */
@media (width: 412px) and (height: 915px) {
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
}

/* iPad Pro */
@media (width: 1024px) and (height: 1366px) {
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
}

/* Surface Duo*/
@media (width: 540px) and (height: 720px) {
}

/* Samsung Galaxy A51/71 */
@media (width: 412px) and (height: 914px) {
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
}

/* Nest Hub Max */
@media (width: 1280px) and (height: 800px) {
}
