.header-contact-button {
  width: 118px;
  height: 38px;
  padding: 0.5rem;
  border: none;
  border-radius: 7px;
  background: var(--recomended-button-background-color);
  font-size: 16px;
  color: var(--recomended-button-text-color);
  font-weight: 600;
}

.header-contact-button:hover {
  background: black;
  color: #ffffff;
}
